<%= form_for current_user.askedFriendships.build(:answererId => @user.id) do |f| %>
    <div><%= f.hidden_field :answererId %></div>
    <div class="actions"><%= f.submit "Devenir Pote" %></div>
<% end %>