<% # encoding: utf-8 %>

<div class="ui items">
  <h2>Idées de <%= @user.name %> <div class="ui green icon button addIdea" data-url="<%= concepts_add_concept_for_user_path %>">
    <i class="icon plus"></i>
  </div></h2>

  <% @user.concepts.each do |concept| %>
      <%= render 'editIdea', :user_concept => concept %>
  <% end %>


</div>
