<% # encoding: utf-8 %>

<div class="friendsForProfile">
  <h2>Ils lui font deja confiance</h2>
  <% unless @user.friendsAsked.any? %>
      <span>Section vide pour l'instant</span>
  <% end %>
  <div class="userTalents">
    <div class="ui three stackable cards">

      <% @user.friendsAsked.limit(3).each do |friend| %>
          <%= render 'friendCard', :user => friend %>
      <% end %>

    </div>
    <br>
    <% if @user.friendsAsked.count > 3 %>
        <a class="linkForFriends" href="<%= friends_user_url %>">Voir les autres personnes</a>
    <% end %>
  </div>
</div>