<% # encoding: utf-8 %>


<div class="ui card">
  <a class="image" href="<%= user_url user.id %>">
    <% if user.avatar.exists? %>
        <%= image_tag user.avatar.url(:thumb), :class => "" %>
    <% else %>
        <%= image_tag "avatarHomme.png", height: "150", :width => "150", :class => "" %>
    <% end %>
  </a>
  <div class="content">
    <div class="meta">
      <a><%= (user.displayName) %></a>
    </div>
  </div>
</div>