<% # encoding: utf-8 %>

<div class="talentsForProfile">
  <h2>Les talents de <%= @user.name %></h2>
  <div class="userTalents">
    LLaalala, alaldsdlsd, al d,ksadksad ,
    sadojasdo,  asodkasodkas , asdokasdokas ,d asodkasodk as,das dokasdo , asdasd
  </div>
</div>