<% # encoding: utf-8 %>

<div class="talentsForProfile">
  <h2>Les talents de <%= @user.name %></h2>
  <div class="userTalents">
    <div class="ui large blue labels">
      <% if(@user.skills.count>0) %>
          <% @user.skills.each do |skill| %>
              <%= render 'showSkill', :user_skill => skill %>
          <% end %>
      <% else %>
          <span>Section vide pour l'instant</span>
      <% end %>
    </div>



  </div>
</div>