<% # encoding: utf-8 %>

<div class="ui items">
  <h2>Idées de <%= @user.name %></h2>

  <% @user.concepts.each do |concept| %>
      <%= render 'showIdea', :user_concept => concept %>
  <% end %>


</div>
