<h1>Entrepreneurs</h1>

<%= will_paginate %>

<div class="ui three stackable special cards">
  <% @users.each do |user| %>
      <%= render 'simpleUserCard', :user => user %>
  <% end %>
</div>

<%= will_paginate %>
