<% # encoding: utf-8 %>
<h1>Vos apprentis</h1>

<% unless @users.any? %>
    <h2>Section vide pour l'instant: Rendez vous dans l'espace "Entrepreneurs" pour trouver la perle rare !</h2>
<% else %>
    <h2>Restez en contact regulièrement avec vos apprentis, ils ont besoin de votre expertise !</h2>
<% end %>

<%= will_paginate %>

<div class="ui three stackable special cards">
  <% @users.each do |user| %>
      <%= render 'simpleUserCard', :user => user %>
  <% end %>
</div>

<%= will_paginate %>
