/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";
@import "font-awesome-sprockets";
@import "font-awesome";


$red            : #B03060;
$orange         : #FE9A76;
$yellow         : #FFD700;
$olive          : #32CD32;
$green          : #016936;
$teal           : #008080;
$blue           : #0E6EB8;
$violet         : #EE82EE;
$purple         : #B413EC;
$pink           : #FF1493;
$brown          : #A52A2A;
$grey           : #A0A0A0;
$black          : #000000;

body{
  //background-image: url(bleunoirdegrade.jpg);
  //opacity: 0.7;
  background-color: rgb(43,43,43) !important;
  background: url(outilsGarage2.jpg);
  background-size: cover;
  color: whitesmoke;
}

.globalWelcomeContainer{
  padding-top: 5%;
  margin-bottom: 8%;
  padding: 5%;
}

.globalContainer{
  padding-top: 5%;
  margin-bottom: 8%;
  background-color: rgba(159, 163, 167, 0.71);
  //background-image: url('bleunoirdegrade.jpg');
  padding: 5%;
}

.longText{
  text-align: justify;
}
//body::after {
//  content: "";
//  background: url(oeufsEclos.png);
//  opacity: 0.3;
//  top: 0;
//  left: 0;
//  bottom: 0;
//  right: 0;
//  position: absolute;
//  z-index: -1;
//}

.myCustomSuccessMessage{
  width: 100%;
  text-align: center;
}

.squareMenuContainer{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 230px;
  z-index: 1000;
  margin-left: 2px;
}

.homeSquareMenu{
  width: 31%;

  display: inline-block;
  margin-right: 1px;
  margin-top: 2px;
  height: 60px;
  //padding: 2%;
  vertical-align: bottom;
}

.homeSquareMenu > img{
  width: 100%;
  height: 100%;
}

.pagination{
  margin-bottom: 15px;
  margin-top: 15px;
}

.fa {
  cursor: pointer;
}

.myCustomSuccessMessage{
  position: absolute !important;
  top: 5%;
  right: 1%;
}


.acceptedItem{
  color: $green;
}
.funkyText{
  color: $yellow;
  font-weight: bold;
}

.notImportantText{
  font-size: 0.8em;
  color: whitesmoke;
}

.statusIcon{
  margin-right: 5px;
}
.normalText{
  color: $black !important;
}





