//encoding: utf-8
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Examples:
//background: url(goldenEgg.png);
//background-color: #010A15 !important;
//border: 1px solid white;
//padding: 2%;
//width: 100%;
//height: 100%;
//border-right: white 1px dashed;
//border-bottom: white 1px dashed;
//.godfatherSquare{
//  background-image: url('parrainImage.PNG');
//  background-repeat: no-repeat;
//}
//

.customLogo{
  padding-right: 10px !important;
}

.homeContainer{
  /* opacity: 0.9; */
  background-size: cover;
  text-align: center;
}


//.homeSquare{
//  width: 32%;
//  display: inline-block;
//  margin-left: 1%;
//  margin-top: 1%;
//  height: 170px;
//  vertical-align: bottom;
//  text-align: center;
//}

.homeSquare{
  width: 18%;
  display: inline-block;
  height: 205px;
  text-align: center;
}

.homeSquare:hover{
  opacity: 0.8;
}

.homeSquare > h2{
  position: relative;
  bottom: 42%;
  padding: 10px;
}


.homeSquare > img{
}

.homeSquare2 > img{
}

.homeSquare3 > img{
}

.homeSquare4 > img{
}

.homeSquareInvisible{
  //border-right: white 1px dashed;
}

.pictureSquare{
  padding: 15px;
  width: 85%;
}

.homeTitle{
  text-align: center;
}


.findHomeSquare > h2{
}
.findHomeSquare > img{
}

.usefulInfoSquare > h2{
}
.usefulInfoSquare > img{
}

.billetsSquare > h2{
}
.billetsSquare > img{
}

.lawIsLawSquare > h2{
}
.lawIsLawSquare > img{
}

.godfatherSquare > h2{
}
.godfatherSquare > img{
}

.findYourSoulSquare > h2{
}
.findYourSoulSquare > img{
}

.goodOrBadIdeaSquare > h2 {
}
.goodOrBadIdeaSquare > img{
}



.homeDestination{
  font-size: 1.5em;
  color: white;
}


.homeSectionDescription{
  font-weight: bold;
  font-size: x-large;
  height: 50px;

}