// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customLogo{
  padding-right: 10px !important;
}
.globalContainer{
  margin-top: 8%;
  margin-bottom: 3%;
}

//.globalFooter{
//  bottom: -5%;
//}