<div class="ui inverted top fixed menu">

  <div class="ui container">
    <div href="#" class="header item">
      <img class="logo customLogo" src="<%= image_url "tools-icon.png" %>"> <%= link_to 'Start2Up', home_index_path, class: "" %>
    </div>
    <!---->

    <div class="right menu">
      <%=	if user_signed_in?
               link_to current_user.email, current_user, class: "item"
                else
                  link_to 'Se connecter', new_user_session_path, class: "item"
                end
      %>
      <%=	if user_signed_in?
               link_to 'Se déconnecter', destroy_user_session_path, method: 'delete', class: "item"
             else
               link_to "S'inscrire", new_user_registration_path, class: "item"
             end
      %>
    </div>




  </div>
</div>